<div class="cursos">
  <div class="container">
    <div class="cursos__header">
      <h1>Cursos</h1>
    </div>
    <div class="cursos__body">
      <a
        *ngFor="let curso of cursos"
        href="/curso/{{ curso.link }}"
        class="curso"
      >
        <div
          class="curso__cover"
          [style.backgroundImage]="'url(' + curso.imagem + ')'"
        ></div>
        <div class="curso__title">
          <img src="assets/images/play.svg" alt="Play" />
          <h2>{{ curso.titulo }}</h2>
        </div>
      </a>
    </div>
  </div>
</div>
