<div class="cursos">
  <div class="container">
    <div class="cursos__header">
      <h1>Cursos</h1>
    </div>
    <div class="cursos__body">
      <a href="/cursos" class="curso">
        <div class="curso__cover"></div>
        <div class="curso__title">
          <img src="assets/images/play.svg" alt="Play" />
          <h2>Aprenda a usar o Whatsapp</h2>
        </div>
      </a>
      <a href="/cursos" class="curso">
        <div class="curso__cover"></div>
        <div class="curso__title">
          <img src="assets/images/play.svg" alt="Play" />
          <h2>Aprenda a usar o Whatsapp</h2>
        </div>
      </a>
      <a href="/cursos" class="curso">
        <div class="curso__cover"></div>
        <div class="curso__title">
          <img src="assets/images/play.svg" alt="Play" />
          <h2>Aprenda a usar o Whatsapp</h2>
        </div>
      </a>
      <a href="/cursos" class="curso">
        <div class="curso__cover"></div>
        <div class="curso__title">
          <img src="assets/images/play.svg" alt="Play" />
          <h2>Aprenda a usar o Whatsapp</h2>
        </div>
      </a>
      <a href="/cursos" class="curso">
        <div class="curso__cover"></div>
        <div class="curso__title">
          <img src="assets/images/play.svg" alt="Play" />
          <h2>Aprenda a usar o Whatsapp</h2>
        </div>
      </a>
      <a href="/cursos" class="curso">
        <div class="curso__cover"></div>
        <div class="curso__title">
          <img src="assets/images/play.svg" alt="Play" />
          <h2>Aprenda a usar o Whatsapp</h2>
        </div>
      </a>
    </div>
  </div>
</div>
