<div class="login-page">
  <header class="login-header">
    <div class="container">
      <div class="login-header__inside">
        <div class="login-header__logo">
          ComoUSA
        </div>
      </div>
    </div>
  </header>
  <section class="login">
    <div class="container">
      <div class="login__inside">
        <div class="login__header">
          <h1>Login</h1>
        </div>
        <div class="login__body">
          <form class="form">
            <input class="input" type="text" placeholder="Número ou e-mail" />
            <input class="input" type="text" placeholder="Senha" />
            <button class="button">
              Entrar
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
