<nav class="navbar">
  <div class="container">
    <div class="navbar__inside">
      <div class="navbar__arrow-back">
        <a *ngIf="backToHome" href="/">
          <img src="assets/images/arrow-back.svg" alt="Voltar" />
        </a>
      </div>
      <div
        *ngIf="isLogged"
        class="navbar__hamburguer"
        (click)="handleMenuClick()"
      >
        <img src="assets/images/hamburguer.svg" alt="Menu" />
      </div>
      <div
        *ngIf="isLogged"
        class="navbar__menu"
        [ngClass]="menuAtivo ? 'active' : ''"
      >
        <div class="menu">
          <div class="menu__logo">
            ComoUSA
          </div>
          <div class="menu__novo-video">
            <a href="/novo-video" class="button">
              <span>
                Novo video
              </span>
            </a>
          </div>
          <div class="menu__sair">
            <a (click)="logout()" class="button">
              <img src="assets/images/arrow-back-white.svg" alt="voltar" />
              <span>
                Sair
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
